@import "tailwindcss";

/* Untuk Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
